<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Board</title>
</head>
<body>
    <center><h1>You have logged In!</h1>
    <form action="/bill" method="post">
        <label for="login">Please Enter Your Meter Reading</label></br></br>
        <label for="User">Previous Meter Reading (Units):</label>
        <input type="number"   name="Previous" required min="0"/></br></br>
        <label for="pass">Current Meter Reading (Units):</label>
        <input type="number" name="Present"  required min="0"/></br></br>
        <input type="submit" value="Calculate"/>
    </form>
    </center>
</body>
</html>